/* CURRENTLY IN: styles/main.css */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*****************  Boilerplate Styling  *************************/

* {
	box-sizing: border-box;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    background-color: #9AFEFF;
}

/*****************   Custom CSS Styling  **************************/

/*HEADER AND TOP*/

.flex-container {
	display: flex;
	justify-content: center;
}

.logo {
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
	font-size: 300px;
	font-weight: 100;
	color: white;
	text-align: center;
}

.logo-container {
	width: 100%;
	height: 20%;
	overflow: hidden;
    margin: auto;
    width: 60%;
    padding: 10px;
}

/*NAV BAR*/


.nav {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	list-style-type: none;
	border-bottom: 2px white;
	margin-bottom: 30px;
}

.nav-aTags {
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
    list-style-type: none;
    color: #848482;
}

a:link {
    background-color: transparent;
}

a:visited {
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    color: white;
}

a:active {
    background-color: transparent;
}

.removeDefaultUnderline {
	text-decoration: none;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    text-align: center;
}

/*PORTFOLIO GRID*/

.grid-container {
	height: 900px;
	width: 60%;
  	float: center;
    margin: 8px 8px 10px 10px;
}

.box {
	height: 250px;
	width: 350px;
	border: solid 1px #000;
	display: inline-block;
	float: left;
    margin: 17px 17px 0 0;
    text-align: justify;
    font-size: 12px;
}

/*.box img {
	display: block;
	margin: 0 auto;
}*/



}

/*EACH PAGE*/


.categories{
	font-family: 'Quicksand', sans-serif;
	margin: 20px;
	margin-top: 50px;
}


.categories-aTags {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-align:center;
	text-decoration: none;
    list-style-type: none;
    color: 848482;
}

/*.categories-aTags-light{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-align:center;
	text-decoration: none;
    list-style-type: none;
    color: 848482;
}*/

.descriptions{
	font-family: 'Roboto', sans-serif;
	height: 550px;
	width: 60%;
	font-size: 18px;
	text-align: justify;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
	color: #2C3539;
}

p {
	font-family: 'Roboto', sans-serif;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
